<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Blog</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form lass="forms-sample" method="POST" action="{% url 'save_blog' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Title<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="Blogtitle">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Blog Image<span class="text-danger">*</span></label>
                                <div class="profile-upload">
                                    <div class="upload-img">
                                        <img alt="" src="{% static 'adminback/assets/img/user.jpg' %}">
                                    </div>
                                    <div class="upload-input">
                                        <input type="file" class="form-control" name="Blogimage">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Blog Content<span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="3" cols="30" name="Blogcontent"></textarea>
                    </div>
                    <div class="col-sm-13">
                        <div class="form-group">
                            <label>Writer<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="Blogwriter">
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn" type="submit">Create Blog</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'success' %}
<script>
    swal('{{i}}', '', 'success');
</script>
{% elif i.tags == 'error' %}
<script>
    swal('{{i}}', '', 'error');
</script>
{% elif i.tags == 'warning' %}
<script>
    swal('{{i}}', '', 'warning');
</script>
{% elif i.tags == 'info' %}
<script>
    swal('{{i}}', '', 'info');
</script>
{% endif %}
{% endfor %}
{% endif %}
</html>
{% endblock %}